 /* <weight>: Use a value from 100 to 900 */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Molengo Font */
.molengo-regular {
    font-family: "Molengo", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Fullscreen Overlay for Modal */
.add-task-modal-container {
    position: fixed; /* Sticks to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
    display: flex; /* Center modal content */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Makes sure it's on top of other content */
}

/* Modal Content Styling */
.add-task-modal-container .task-modal-content {
    background-color: white; /* Modal background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for a polished look */
    height: 500px;
    width: 600px; /* Set width */
    text-align: center;
}

.add-task-form-button-container {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;

}

#addTaskButton {
    height: 30px;
    background-color: #4CAF50;
    border: black;
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;
    
}

#close-add-task-modal {
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    display: flex; /* Align the image */
    align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally */
    cursor: pointer; /* Add pointer cursor for interactivity */
}


#close-add-task-modal img {
    height: 100%;
    width: 100%; 
    object-fit: cover; /* Prevent distortion by maintaining aspect ratio */
    display: block; /* Remove any extra spacing around the image */
    pointer-events: none; /* Prevent click events on the image itself */
}

/* Format add task form */
.add-task-modal-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



.hidden {
    display: none;
}