<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>

    <link rel="stylesheet" href="/css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>

<body>
    
    <div class="outer-container"> 

        <h2 id="app-name">Get It Done</h2>

        <h1 id="welcome-text">Welcome</h1>


            <form id="create-task-form-container" action="/create_task" method="post">

                <div class="input-container">

                    <label for="title">Task Name</label>
                    <input type="text" text="title" id="title" name="title" required>

                </div>
    

                <div class="input-container">
                    <label for="desc">Details</label>
                    <textarea id="description" name="description" rows="4" cols="50" required></textarea>
                </div>

                
                <<!--- priority not really thought out rn--->

                    <button type="submit" id="login">Add to my List!</button>        
            
        
            </form>

    </div>
    

    <p th:if="${error}" style="color: red;">Error: <span th:text="${error}"></span></p>


</body>

</html>