<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Dashboard</title></head>
<body>
    <h1 th:text="'Welcome, ' + ${user.firstName} + ' ' + ${user.lastName} + '!'"></h1>
	<br>
	<button onclick = "goToNewTask()" id="NewTaskButton">Add a Task</button>

	<br>
    <h2>Your Tasks:</h2>
    <ul>
        <!--- <li th:each="task : ${tasks}" th:text="${task.title} + ' - ' + ${task.description}"></li> --->
		<li th:each="task : ${tasks}">
		<span th:text="${task.title + ' - ' + task.description}"></span>
		<button type="button">Delete</button> 
		</li>
    </ul>
	<button type="button">Delete All Tasks</button> 
	<script>//need to use html to dynamicly create a link
	  function goToNewTask() {

		const pathParts = window.location.pathname.split('/');

	    // username is at index 1: /{username}/dashboard
	    const username = pathParts[1];

	    // Redirect
	    if (username) {
	      window.location.href = `/${username}/create/task`;
	    }
	  }
	</script>

</body>
</html>
