<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="/css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
	<link rel="icon" type="image/png" href="/src/app_icon.png"/> 
</head>

<body>
    
    <div class="outer-container"> 

        <h2 id="app-name">Get It Done</h2>

        <h1 id="welcome-text">Welcome Back</h1>


        <form id="login-form-container" action="/login" method="post">

            <div class="input-container">

                <label for="email">Your email</label>
                <input type="text" text="email" id="email" name="email" required>

            </div>


            <div class="input-container">
                <label for="password">Your password</label>
                <input type="text" text="password" id="password" name="password" required>
            </div>
    
            
            <div class="button-container">

                <a href="/register"><button id="register" type="button">New?</button></a>
                <button type="submit" id="login">Login</button>

            </div>
    
        </form>

        <p th:if="${error}" style="color: red;">Error: <span th:text="${error}"></span></p>

    </div>


    


</body>

</html>