<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Task</title>

	<link rel="stylesheet" href="/css/modify.css">
	<link rel="icon" type="image/png" href="/src/app_icon.png"/>
</head>
<body>

	<div class="outer-container">
		<h1 th:text="'Modify ' + ${task.getTitle()}"></h1>

		<div class="modify-task-container">
			<form th:action="@{/modify/task/{id}(id=${task.id})}" method="post">
	
				<div class="task-sections">		
					<label for="taskName">Task Name:</label>
					<input type="text" id="taskName" name="title" th:value="${task.getTitle()}" maxlength="250" required>
				</div>	

				<div class="task-sections" id="description-section">
					<label for="taskDescription" style="margin-bottom: 5px;">Task Description:</label>
					<textarea 
						id="taskDescription" 
						name="description" 
						maxlength="250" 
						th:text="${task.getDescription()}"
						rows="5"
						required
						></textarea>
				</div>
				<div class="task-sections">
					<label for="dueDate">Due Date:</label>
					<input type="date" id="dueDate" name="duedate" th:value="${#temporals.format(task.getDueDate(), 'yyyy-MM-dd')}" min="${#temporals.format(#temporals.createToday(), 'yyyy-MM-dd')}" required>
				</div>
				<div class="button-section">
					<button class="" type="submit">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
	
</body>
</html>
