<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
	<link rel="icon" type="image/png" href="/src/app_icon.png"/> 
</head>
<body>

    <div class="outer-container">

        <h2 id="app-name">Get It Done</h2>

        <h1 id="welcome-text">Welcome</h1>
    
        <form id="register-form-container" action="register" method="post">

            <div style="display: flex; flex-direction: row; width: 500px; justify-content: space-between;">
                <div style="display: flex; flex-direction: column; width: 45%;">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName"  maxlength="35" required>
                </div>
                
                <div style="display: flex; flex-direction: column; width: 45%;">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" maxlength="35" required>
                </div>
            </div>

            <div style="display: flex; flex-direction: column; width: 500px;">
                <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            </div>


            <div style="display: flex; flex-direction: column; width: 500px;">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="button-container">

                    <a href="/login"><button id="login" type="button">Login?</button></a>

                    <button id="register" type="submit">Register</button>

                </div>
        </form>

        <p th:text="${exist}" style="color: red;"></p>

        <p th:if="${error}" style="color: red;">Error: <span th:text="${error}"></span></p>
        <p th:if="${message}" style="color: green;"><span th:text="${message}"></span></p>
    </div>

    
</body>
</html>
